.card1{
 border:1px solid gray; 
 width: 250px;
 height: 500px;
 background-color: blue;
 color:white;
 filter: drop-shadow(10px 10px 10px blue);
 border-radius: 40px;
}
.card-container{
     display:flex;
 justify-content: center;
 align-items: center;
 gap:40px;
 flex-wrap: wrap;


}
.imgg img{
    
     width: 50%;
     height: 200px;
     border-radius: 50%;
     margin-left: 70px;
     margin-top: 20px;
 
}
h1{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}



 
