.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background:#f2f5ff; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.card{
    margin-top: 10%;
    text-align: center;
}
.card h1{
    
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right,#ff0066,#0055ff);
    -webkit-background-clip: text;
    color: transparent;
}
.card button{
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color:blue;
}
.card button:hover{
    color: rgb(241, 4, 198);
  filter: drop-shadow(0 0 12px rgb(241, 4, 198));
    
}
.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;

}
.card2 h1{
      font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right,#ff0066,#0055ff);
    -webkit-background-clip: text;
    color: transparent;

}
.card2 button{
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color:blue;
    
}
.card2 button:hover{
     color: rgb(241, 4, 198);
 
  filter: drop-shadow(0 0 12px rgb(241, 4, 198));
}
.card1 button {
    width: 40%;
    height: 30px;
    margin-left: 34%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.card1 button:hover {
  color: rgb(241, 4, 198);
 
  filter: drop-shadow(0 0 12px rgb(241, 4, 198));
}


.two-column{
    display:flex;
    gap:80px;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
}
.left-section,.right-section{
    width:48%;
}

.left-section label,
.right-section label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.left-section input,.right-section input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.error{
    color:red;
    font-size: 14px;
    margin-bottom: 8px;
}
.input-box{
    position: relative;
    margin-bottom: 15px;
}
.input-box .input-icon{
    position: absolute;
    top:50%;
    left:10px;
    transform: translatey(-50%);
    font-size: 18px;
    color:palevioletred;
}
.input-box input{
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
